<!DOCTYPE html>
<html lang="en">
<head>
    <title>学生界面</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="css/uniform.css" rel="stylesheet"/>
    <link href="css/select2.css" rel="stylesheet"/>
    <link href="css/matrix-style.css" rel="stylesheet"/>
    <link href="css/matrix-media.css" rel="stylesheet"/>
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">

</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div class="navbar navbar-inverse" id="user-nav">
    <ul class="nav">
        <li class="dropdown" id="profile-messages"><a class="dropdown-toggle" data-target="#profile-messages" data-toggle="dropdown"
                                                      href="#" title=""><i
                class="icon icon-user"></i> <span class="text">欢迎</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><a href="login.html"><i class="icon-key"></i> 退出</a></li>
            </ul>
        </li>
        <li class=""><a href="login.html" title=""><i class="icon icon-share-alt"></i> <span
                class="text">退出</span></a></li>
    </ul>
</div>

<!--start-top-serch-->
<!--close-top-serch-->

<!--sidebar-menu-->

<div id="sidebar"><a class="visible-phone" href="#"><i class="icon icon-th"></i>Tables</a>
    <ul>
        <li class="submenu"><a href="#"><i class="icon icon-file"></i> <span>学生界面</span> </a>
            <ul>
                <li><a href="students_1.html">原料管理</a></li>
                <li><a href="students_2.html">配方管理</a></li>
                <li><a href="students_3.html">实验燃素管理</a></li>
                <li><a href="students_4.html">燃素方程管理</a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a class="tip-bottom" href="#" title="Go to Home"><i class="icon-home"></i> Home</a> <a
                class="current" href="#">学生界面</a></div>
        <h1>燃素方程管理</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>燃素方程管理</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>配方ID</th>
                                <th>P</th>
                                <th>A</th>
                                <th>B</th>
                                <th>N</th>
                                <th>Err</th>
                                <th>参考文献</th>
                                <th>comment</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="data-table-body">
                            <!-- Data will be inserted here -->
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: right; margin: 10px;">
                        <button class="btn btn-primary" id="add-data-button">Add New Data</button>
                    </div>
                </div>


                <!-- Modal for updating data -->
                <div class="modal" id="DataModal">
                    <div class="modal-content">
                        <span class="close" id="Close">&times;</span>
                        <h2>Add or Update Data</h2>
                        <form id="DataForm">
                            <label for="id">配方:</label><br>
                            <input id="id" name="id" required step="1" type="number"><br>
                            <label for="P">P:</label><br>
                            <input id="P" name="P" required type="text"><br>
                            <label for="A">A:</label><br>
                            <input id="A" name="A" required type="text"><br>
                            <label for="B">B:</label><br>
                            <input id="B" name="B" required type="text"><br>
                            <label for="N">N:</label><br>
                            <input id="N" name="N" required type="text"><br>
                            <label for="Err">Err:</label><br>
                            <input id="Err" name="Err" required type="text"><br>
                            <label for="Rfs">参考文献:</label><br>
                            <input id="Rfs" name="Rfs" required type="text"><br>
                            <label for="Comment">Comment:</label><br>
                            <input id="Comment" name="Comment" required type="text"><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>

                <style>
                    .modal {
                        display: none;
                        position: fixed;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 150%;
                        height: 100%;
                        overflow: auto;
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    .modal-content {
                        background-color: #fefefe;
                        margin: 0 auto;
                        padding: 20px;
                        border: 1px solid #888;
                        width: 100%;
                        max-width: 600px;
                        max-height: 80vh;
                        overflow-y: auto;
                    }

                    .close {
                        color: #aaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .close:hover,
                    .close:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }
                </style>


            </div>
        </div>
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div class="span12" id="footer">Copyright &copy; 2018.Company name All rights reserved.<a
                href="http://sc.chinaz.com/moban/"
                target="_blank">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
        </div>
    </div>
    <!--end-Footer-part-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/matrix.js"></script>
    <script src="js/matrix.tables.js"></script>
    <script>
        $(document).ready(function () {
            fetchData();

            function fetchData() {
                showLoading();
                // 使用AJAX获取数据
                $.ajax({
                    url: 'http://127.0.0.1:9010/bre/getall', // 请求的 URL
                    type: 'GET', // 请求类型
                    success: function (data) {
                        hideLoading();
                        // 请求成功时的处理逻辑
                        console.log(data);
                        populateTable(data.value); // 在成功获取用户列表后渲染列表
                    },
                    error: function (xhr, status, error) {
                        // 请求失败时的处理逻辑
                        console.error('Error:', error);
                    }
                });
            }
             function showLoading() {
                $('#data-table-body').html('<tr><td colspan="9">Loading...</td></tr>');
            }

            function hideLoading() {
                $('#data-table-body').html('');
            }

            // 获取模态对话框元素
            const updateModal = document.getElementById('DataModal');
            const updateSpan = document.getElementById('Close');
            const updateForm = document.getElementById('DataForm');

            // 关闭模态对话框
            updateSpan.onclick = function () {
                updateModal.style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == updateModal) {
                    updateModal.style.display = 'none';
                }
            }

            function populateTable(data) {
                const tableBody = document.getElementById('data-table-body');
                tableBody.innerHTML = ''; // 清空表格内容
                data.forEach(item => {
                    const row = document.createElement('tr');
                    row.appendChild(createCell(item.id));
                    row.appendChild(createCell(item.in_id));
                    row.appendChild(createCell(item.p));
                    row.appendChild(createCell(item.A));
                    row.appendChild(createCell(item.B));
                    row.appendChild(createCell(item.N));
                    row.appendChild(createCell(item.Err));
                    row.appendChild(createCell(item.rfs));
                    row.appendChild(createCell(item.comment));

                    const actionsCell = document.createElement('td');
                    const editButton = document.createElement('button');
                    editButton.textContent = 'Edit';
                    editButton.className = 'btn btn-warning';
                    editButton.addEventListener('click', function () {
                        //将相应行的数据填充到模态对话框中
                        document.getElementById('id').value = item.in_id;
                        document.getElementById('id').readOnly = true;
                        // 打开模态对话框
                        updateModal.style.display = 'block';
                    });

                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.className = 'btn btn-danger';
                    deleteButton.onclick = () => deleteRow(item.in_id);

                    actionsCell.appendChild(editButton);
                    actionsCell.appendChild(deleteButton);
                    row.appendChild(actionsCell);

                    tableBody.appendChild(row);
                });
            }

            // 创建单元格
            function createCell(text) {
                const cell = document.createElement('td');
                cell.textContent = text;
                return cell;
            }

            //修改行数据
            updateForm.onsubmit = function (event) {
                event.preventDefault();
                const formData = new FormData(updateForm);
                var id = parseInt(addFormData.get
                ('id'));
                var P = addFormData.get
                ('P');
                var A = addFormData.get
                ('A');
                var B = addFormData.get
                ('B');
                var N = addFormData.get
                ('N');
                var Err = addFormData.get
                ('Err');
                var Rfs = addFormData.get
                ('Rfs');
                var Comment = addFormData.get
                ('Comment');
                $.ajax({
                    url: "http://127.0.0.1:9010/bre/addAndUpdate",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        Ingre_ID: id,
                        data: [
                            {
                                P: P,
                                A: A,
                                B: B,
                                N: N,
                                Err: Err,
                                Rfs: Rfs,
                                Comment: Comment
                            },
                        ]
                    }),
                    success: function (response, textStatus, xhr) {
                        // 检查返回的状态码是否是 200
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.message === "Data successfully inserted into `bre`") {
                                console.log('Data added successfully');
                                updateModal.style.display = 'none'; // 关闭模态对话框
                                updateForm.reset(); // 重置表单
                                fetchData(); // 修改成功后重新获取数据
                            } else {
                                console.error('Failed to add data: ', response.message);
                            }
                        } else {
                            console.error('Error adding data: ', xhr.statusText);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理创建失败的逻辑
                        console.error(xhr.responseText);
                        // 显示错误消息或者执行其他操作
                    }
                    // 实现修改逻辑
                })
            }

            // 删除行数据
            function deleteRow(id) {
                $.ajax({
                    url: "http://127.0.0.1:9010/bre/del",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({Ingre_ID: id}),
                    success: function (response, textStatus, xhr) {
                        // 检查返回的状态码是否是 200
                        if (xhr.status == 200) {
                            // 创建成功后的处理逻辑
                            console.log(response.Message);
                            // 刷新
                            location.reload();
                        } else {
                            // 创建失败时的处理逻辑
                            console.error(response.error);
                            // 显示错误消息或者执行其他操作
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理创建失败的逻辑
                        console.error(xhr.responseText);
                        // 显示错误消息或者执行其他操作
                    }
                });
            }


            // 获取模态对话框元素
            const addModal = document.getElementById('DataModal');
            const addBtn = document.getElementById('add-data-button');
            const addSpan = document.getElementById('Close');
            const addForm = document.getElementById('DataForm');

            // 打开模态对话框
            addBtn.onclick = function () {
                addModal.style.display = 'block';
            }

            // 关闭模态对话框
            addSpan.onclick = function () {
                addModal.style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == addModal) {
                    addModal.style.display = 'none';
                }
            }


            // 新增数据
            addForm.onsubmit = function (event) {
                event.preventDefault();
                const addFormData = new FormData(addForm);
                var id = parseInt(addFormData.get
                ('id'));
                var P = addFormData.get
                ('P');
                var A = addFormData.get
                ('A');
                var B = addFormData.get
                ('B');
                var N = addFormData.get
                ('N');
                var Err = addFormData.get
                ('Err');
                var Rfs = addFormData.get
                ('Rfs');
                var Comment = addFormData.get
                ('Comment');
                $.ajax({
                    url: "http://127.0.0.1:9010/bre/addAndUpdate",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        Ingre_ID: id,
                        data: [
                            {
                                P: P,
                                A: A,
                                B: B,
                                N: N,
                                Err: Err,
                                Rfs: Rfs,
                                Comment: Comment
                            },
                        ]
                    }),
                    success: function (response, textStatus, xhr) {
                        // 检查返回的状态码是否是 200
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.message === "Data successfully inserted into `bre`") {
                                console.log('Data added successfully');
                                fetchData(); // 新增成功后重新获取数据
                                addModal.style.display = 'none'; // 关闭模态对话框
                                addForm.reset(); // 重置表单
                            } else {
                                console.error('Failed to add data: ', response.message);
                            }
                        } else {
                            console.error('Error adding data: ', xhr.statusText);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理创建失败的逻辑
                        console.error(xhr.responseText);
                        // 显示错误消息或者执行其他操作
                    }
                });

                // 初始获取数据
                fetchData();
            }
        })


    </script>


</body>
</html>
