<!DOCTYPE html>
<html lang="en">
<head>
    <title>学生界面</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="css/uniform.css" rel="stylesheet"/>
    <link href="css/select2.css" rel="stylesheet"/>
    <link href="css/matrix-style.css" rel="stylesheet"/>
    <link href="css/matrix-media.css" rel="stylesheet"/>
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">

</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div class="navbar navbar-inverse" id="user-nav">
    <ul class="nav">
        <li class="dropdown" id="profile-messages"><a class="dropdown-toggle" data-target="#profile-messages"
                                                      data-toggle="dropdown"
                                                      href="#" title=""><i
                class="icon icon-user"></i> <span class="text">欢迎</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><a href="login.html"><i class="icon-key"></i> 退出</a></li>
            </ul>
        </li>
        <li class=""><a href="login.html" title=""><i class="icon icon-share-alt"></i> <span
                class="text">退出</span></a></li>
    </ul>
</div>

<!--start-top-serch-->
<!--close-top-serch-->

<!--sidebar-menu-->

<div id="sidebar"><a class="visible-phone" href="#"><i class="icon icon-th"></i></a>
    <ul>
        <li class="submenu"><a href="#"><i class="icon icon-file"></i> <span>学生界面</span> </a>
            <ul>
                <li><a href="students_1.html">原料管理</a></li>
                <li><a href="students_2.html">配方管理</a></li>
                <li><a href="students_3.html">实验燃素管理</a></li>
                <li><a href="students_4.html">燃素方程管理</a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a class="tip-bottom" href="#" title="Go to Home"><i class="icon-home"></i> Home</a> <a
                class="current" href="#">学生界面</a></div>
        <h1>原料管理</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Data table</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>CCN</th>
                                <th>ECN</th>
                                <th>RMM</th>
                                <th>OB</th>
                                <th>OFR</th>
                                <th>Density</th>
                                <th>Granu</th>
                                <th>Sen_P</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="data-table-body">
                            <!-- Data will be inserted here -->
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: right; margin: 10px;">
                        <button class="btn btn-primary" id="add-data-button">Add New Data</button>
                    </div>
                </div>


                <!-- Modal for adding new data -->
                <div class="modal" id="addDataModal">
                    <div class="modal-content">
                        <span class="close" id="addClose">&times;</span>
                        <h2>Add New Data</h2>
                        <form id="addDataForm">
                            <label for="addCas">CAS:</label><br>
                            <input id="addCas" name="addCas" required type="text"><br>
                            <label for="addCode">Code:</label><br>
                            <input id="addCode" name="addCode" required type="text"><br>
                            <label for="addCcn">CCN:</label><br>
                            <input id="addCcn" name="addCcn" required type="text"><br>
                            <label for="addEcn">ECN:</label><br>
                            <input id="addEcn" name="addEcn" required type="text"><br>
                            <label for="addRmm">RMM:</label><br>
                            <input id="addRmm" name="addRmm" required type="text"><br>
                            <label for="addOb">OB:</label><br>
                            <input id="addOb" name="addOb" required type="text"><br>
                            <label for="addOfr">OFR:</label><br>
                            <input id="addOfr" name="addOfr" required type="text"><br>
                            <label for="addDensity">Density:</label><br>
                            <input id="addDensity" name="addDensity" required step="0.01" type="number"><br>
                            <label for="addGranu">Granu:</label><br>
                            <input id="addGranu" name="addGranu" required type="text"><br>
                            <label for="addSen_p">Sen_P:</label><br>
                            <input id="addSen_p" name="addSen_p" required type="text"><br><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>

                <style>
                    .modal {
                        display: none;
                        position: fixed;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    .modal-content {
                        background-color: #fefefe;
                        margin: 15% auto;
                        padding: 20px;
                        border: 1px solid #888;
                        width: 80%;
                        max-width: 600px;
                        max-height: 80vh;
                        overflow-y: auto;
                    }

                    .close {
                        color: #aaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .close:hover,
                    .close:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }
                </style>

                <!-- Modal for updating data -->
                <div class="modal" id="updateDataModal">
                    <div class="modal-content">
                        <span class="close" id="updateClose">&times;</span>
                        <h2>Update Data</h2>
                        <form id="updateDataForm">
                            <label for="id">ID:</label><br>
                            <input id="id" name="id" required step="0.01" type="number"><br>
                            <label for="ccn">CCN:</label><br>
                            <input id="ccn" name="ccn" required type="text"><br>
                            <label for="ecn">ECN:</label><br>
                            <input id="ecn" name="ecn" required type="text"><br>
                            <label for="rmm">RMM:</label><br>
                            <input id="rmm" name="rmm" required type="text"><br>
                            <label for="ob">OB:</label><br>
                            <input id="ob" name="ob" required type="text"><br>
                            <label for="ofr">OFR:</label><br>
                            <input id="ofr" name="ofr" required type="text"><br>
                            <label for="density">Density:</label><br>
                            <input id="density" name="density" required step="0.01" type="number"><br>
                            <label for="granu">Granu:</label><br>
                            <input id="granu" name="granu" required type="text"><br>
                            <label for="sen_p">Sen_P:</label><br>
                            <input id="sen_p" name="sen_p" required type="text"><br><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>

                <style>
                    .modal {
                        display: none;
                        position: fixed;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    .modal-content {
                        background-color: #fefefe;
                        margin: 15% auto;
                        padding: 20px;
                        border: 1px solid #888;
                        width: 80%;
                        max-width: 600px;
                        max-height: 80vh;
                        overflow-y: auto;
                    }

                    .close {
                        color: #aaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .close:hover,
                    .close:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }
                </style>


            </div>
        </div>
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div class="span12" id="footer">Copyright &copy; 2018.Company name All rights reserved.<a
                href="http://sc.chinaz.com/moban/"
                target="_blank">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
        </div>
    </div>
    <!--end-Footer-part-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/matrix.js"></script>
    <script src="js/matrix.tables.js"></script>
    <script>
        $(document).ready(function () {
            fetchData();

            function fetchData() {
                // 使用AJAX获取数据
                $.ajax({
                    url: 'http://127.0.0.1:9010/mat/getall', // 请求的 URL
                    type: 'GET', // 请求类型
                    success: function (data) {
                        // 请求成功时的处理逻辑
                        console.log(data);
                        populateTable(data.value); // 在成功获取用户列表后渲染列表
                    },
                    error: function (xhr, status, error) {
                        // 请求失败时的处理逻辑
                        console.error('Error:', error);
                    }
                });
            }

            // 获取模态对话框元素
            const updateModal = document.getElementById('updateDataModal');
            const updateSpan = document.getElementById('updateClose');
            const updateForm = document.getElementById('updateDataForm');

            // 关闭模态对话框
            updateSpan.onclick = function () {
                updateModal.style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == updateModal) {
                    updateModal.style.display = 'none';
                }
            }

            function populateTable(data) {
                const tableBody = document.getElementById('data-table-body');
                tableBody.innerHTML = ''; // 清空表格内容
                data.forEach(item => {
                    const row = document.createElement('tr');
                    row.appendChild(createCell(item[0]));
                    row.appendChild(createCell(item[1]));
                    row.appendChild(createCell(item[2]));
                    row.appendChild(createCell(item[3]));
                    row.appendChild(createCell(item[4]));
                    row.appendChild(createCell(item[5]));
                    row.appendChild(createCell(item[6]));
                    row.appendChild(createCell(item[7]));
                    row.appendChild(createCell(item[8]));

                    const actionsCell = document.createElement('td');
                    const editButton = document.createElement('button');
                    editButton.textContent = 'Edit';
                    editButton.className = 'btn btn-warning';
                    editButton.addEventListener('click', function () {
                        //将相应行的数据填充到模态对话框中
                        document.getElementById('id').value = item[0];
                        document.getElementById('ccn').value = item[1];
                        document.getElementById('ecn').value = item[2];
                        document.getElementById('rmm').value = item[3];
                        document.getElementById('ob').value = item[4];
                        document.getElementById('ofr').value = item[5];
                        document.getElementById('density').value = item[6];
                        document.getElementById('granu').value = item[7];
                        document.getElementById('sen_p').value = item[8];
                        // 打开模态对话框
                        updateModal.style.display = 'block';
                    });

                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.className = 'btn btn-danger';
                    deleteButton.onclick = () => deleteRow(item[0]);

                    actionsCell.appendChild(editButton);
                    actionsCell.appendChild(deleteButton);
                    row.appendChild(actionsCell);

                    tableBody.appendChild(row);
                });
            }

            // 创建单元格
            function createCell(text) {
                const cell = document.createElement('td');
                cell.textContent = text;
                return cell;
            }

            //修改行数据
            updateForm.onsubmit = function (event) {
                event.preventDefault();
                const formData = new FormData(updateForm);
                var id = parseInt(formData.get
                ('id'));
                var ccn = formData.get
                ('ccn');
                var ecn = formData.get
                ('ecn');
                var rmm = formData.get
                ('rmm');
                var ob = formData.get
                ('ob');
                var ofr = formData.get
                ('ofr');
                var density = parseFloat
                (formData.get('density'));
                var granu = formData.get
                ('granu');
                var sen_p = formData.get
                ('sen_p');
                $.ajax({
                    url: "http://127.0.0.1:9010/mat/update",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: id,
                        ccn: ccn,
                        ecn: ecn,
                        rmm: rmm,
                        ob: ob,
                        ofr: ofr,
                        density: density,
                        granu: granu,
                        sen_p: sen_p
                    }),
                    success: function (response, textStatus, xhr) {
                        // 检查返回的状态码是否是 200
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.message === "Data in `mat` updated successfully") {
                                console.log('Data added successfully');
                                updateModal.style.display = 'none'; // 关闭模态对话框
                                updateForm.reset(); // 重置表单
                                fetchData(); // 修改成功后重新获取数据
                            } else {
                                console.error('Failed to add data: ', response.message);
                            }
                        } else {
                            console.error('Error adding data: ', xhr.statusText);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理创建失败的逻辑
                        console.error(xhr.responseText);
                        // 显示错误消息或者执行其他操作
                    }
                    // 实现修改逻辑
                })
            }

            // 删除行数据
            function deleteRow(id) {
                $.ajax({
                    url: "http://127.0.0.1:9010/mat/del",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({id: id}),
                    success: function (response, textStatus, xhr) {
                        // 检查返回的状态码是否是 200
                        if (xhr.status == 200) {
                            // 创建成功后的处理逻辑
                            console.log(response.Message);
                            // 刷新
                            location.reload();
                        } else {
                            // 创建失败时的处理逻辑
                            console.error(response.error);
                            // 显示错误消息或者执行其他操作
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理创建失败的逻辑
                        console.error(xhr.responseText);
                        // 显示错误消息或者执行其他操作
                    }
                });
            }


            // 获取模态对话框元素
            const addModal = document.getElementById('addDataModal');
            const addBtn = document.getElementById('add-data-button');
            const addSpan = document.getElementById('addClose');
            const addForm = document.getElementById('addDataForm');

            // 打开模态对话框
            addBtn.onclick = function () {
                addModal.style.display = 'block';
            }

            // 关闭模态对话框
            addSpan.onclick = function () {
                addModal.style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == addModal) {
                    addModal.style.display = 'none';
                }
            }


            // 新增数据
            addForm.onsubmit = function (event) {
                event.preventDefault();
                const addFormData = new FormData(addForm);
                console.log(addFormData.get
                ('addCas'));
                var CAS = addFormData.get
                ('addCas');
                var code = addFormData.get
                ('addCode');
                var ccn = addFormData.get
                ('addCcn');
                var ecn = addFormData.get
                ('addEcn');
                var rmm = addFormData.get
                ('addRmm');
                var ob = addFormData.get
                ('addOb');
                var ofr = addFormData.get
                ('addOfr');
                var density = parseFloat
                (addFormData.get('addDensity'));
                var granu = addFormData.get
                ('addGranu');
                var sen_p = addFormData.get
                ('addSen_p');
                $.ajax({
                    url: "http://127.0.0.1:9010/mat/add",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        CAS: CAS,
                        code: code,
                        ccn: ccn,
                        ecn: ecn,
                        rmm: rmm,
                        ob: ob,
                        ofr: ofr,
                        density: density,
                        granu: granu,
                        sen_p: sen_p
                    }),
                    success: function (response, textStatus, xhr) {
                        // 检查返回的状态码是否是 200
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.message === "Data successfully inserted into `mat`") {
                                console.log('Data added successfully');
                                fetchData(); // 新增成功后重新获取数据
                                addModal.style.display = 'none'; // 关闭模态对话框
                                addForm.reset(); // 重置表单
                            } else {
                                console.error('Failed to add data: ', response.message);
                            }
                        } else {
                            console.error('Error adding data: ', xhr.statusText);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理创建失败的逻辑
                        console.error(xhr.responseText);
                        // 显示错误消息或者执行其他操作
                    }
                });

                // 初始获取数据
                fetchData();
            }
        })


    </script>


</body>
</html>
